body {
  margin: 0px;
}
.wrapper {
  
grid-gap: 10px;
  grid-template-columns: 120px 120px 120px;
  grid-template-areas:
"header header header"
  "sidebar content content"
  "footer  footer  footer";
 
  color: black;
}
.header {
  grid-area: header;
}
.nav-bar{
  width:100%;
  color:#fff;
  padding:20px 10px;
  background: rgba(31, 72, 126,1);
  position: fixed;
  height: 30px;
  margin-left:0px;
}
.nav-bar a
{
  color:white;
}
.nav-bar div{
  display: inline-block;
  text-align: center;;
  width:31%;
}

.nav-bar div:nth-child(1){
  width: 200px;
}

.nav-bar div:nth-child(2){
  width: 400px;
  margin-left: 180px;
}

.nav-bar div:nth-child(3){
  margin-left: 170px;
  width:200px;
  padding-left: 10px;
}

.nav-bar div:nth-child(3) i{
  cursor: pointer;
  text-align: right;
  margin:0 20px;
  transition: all linear .4s;
}

.nav-bar div:nth-child(3) i:hover{
  cursor: pointer;
  text-align: right;
  margin:0 20px;
  color:#E9B44C;
  transform: scale(0.95);
  transition: all linear .1s;
}


.nav-bar div:nth-child(3) i:active{
  transform: scale(0.8);
  transition: all linear .1s;
}


.nav-bar h1{
  text-align: left;
}

.nav-bar ul{
  list-style: none;
}

.nav-bar li{
  display: inline-block;
  cursor: pointer;
  margin: 0 2vw;
}

.sidebar {
        grid-area: sidebar;
    }

    .content {
        grid-area: content;
    }

    .header {
        grid-area: header;
    }

    .footer {
        grid-area: footer;
    }
  
    .shopdetails
    {
      
      margin-left : 400px;
    }
    .img
    {
     margin-left:450px ; 
    }